.about-container{
    width: 100vw;
    height: 100vh; 
   
}
.about {
    /* margin-right: 7rem;   */
    margin-left: 10rem;
    margin-top: 3rem;;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    background: #1e1b26;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
  .heading {

    font-size: 20px;
  }

  ._img {
     width: 30vw;
    height: 80vh; 
    margin-right: 10em;
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.51); */
  }
  ._content_wrapper {
    width: 45vw;
  }

  .aboutme{
     font-size: 20px;
     font-weight: 100;
     color:white;
  }
  
  .About-section{
     font-size: 30px;
     font-weight: 200;
     color:rgb(10, 115, 207);
     text-align: center;
  }
  @media (max-width: 1024px) {
    .about {
      margin-left: 3rem;
      margin-right: 3rem;
    }
    ._img {
      margin: 2em;
    }
    ._content_wrapper {
      width: 40%;
    }
  }
  @media (max-width: 768px) {
    .about {
      margin-left: 4em;
      margin-right: 4em;
      flex-direction: column;
    }
    ._img {
      width: 15em;
      height: 12em;
    }
    ._content_wrapper {
      width: 15em;
    }
  }